@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

.portfolio .portfolio-box:nth-of-type(1), 
.portfolio .portfolio-box:nth-of-type(2), 
.portfolio .portfolio-box:nth-of-type(3), 
.portfolio .portfolio-box:nth-of-type(4) { margin-top: 0; }
@media screen and (max-width: 1024px) {
    .portfolio .portfolio-box:nth-of-type(3),
    .portfolio .portfolio-box:nth-of-type(4) { margin-top: 16px; }
}
@media screen and (max-width: 640px) {
    .portfolio .portfolio-box:nth-of-type(2),
    .portfolio .portfolio-box:nth-of-type(3),
    .portfolio .portfolio-box:nth-of-type(4) { margin-top: 12px; }
}