@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

/* 포트폴리오 첫 줄 마진 */
.portfolio .portfolio-box:nth-of-type(1), 
.portfolio .portfolio-box:nth-of-type(2), 
.portfolio .portfolio-box:nth-of-type(3), 
.portfolio .portfolio-box:nth-of-type(4) { margin-top: 0; }
@media screen and (max-width: 1024px) {
    .portfolio .portfolio-box:nth-of-type(3),
    .portfolio .portfolio-box:nth-of-type(4) { margin-top: 16px; }
}
@media screen and (max-width: 640px) {
    .portfolio .portfolio-box:nth-of-type(2),
    .portfolio .portfolio-box:nth-of-type(3),
    .portfolio .portfolio-box:nth-of-type(4) { margin-top: 12px; }
}

/* 스피너 - 사각형 */
.square-spinner {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
}
.square-spinner::after,
.square-spinner::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 1px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: rotation 3s ease-in-out infinite alternate;
}
.square-spinner::after {
    border-color: #B1B2B6;
    animation-direction: alternate-reverse;
}
@media screen and (max-width: 640px) {
    .square-spinner { display: none; }
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.about .square-spinner {
    width: 80px;
    height: 80px;
    position: relative;
    left: auto;
    top: auto;
    transform: translateY(-75%);
    margin: auto 24px;
}
.about .square-spinner::after,
.about .square-spinner::before {
    width: 80px;
    height: 80px;
    animation-duration: 4s;
}
@media screen and (max-width: 640px) {
    .about .square-spinner { display: inline-block; }
}

/* 스피너 - 원 */
.circle-spinner {
    width: 48px;
    height: 48px;
    border: 2px dotted #FFF;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 60px;
    top: 25%;
    box-sizing: border-box;
    animation: rotation 6s linear infinite;
}
@media screen and (max-width: 640px) {
    .circle-spinner { display: none; }
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 스피너 - 코드 */
.code-spinner {
    color: #FFF;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: 100;
    font-size: 32px;
    opacity: 0.8;
    position: absolute;
    left: 25%;
    bottom: 60px;
}
.code-spinner:before {
    content: "{";
    display: inline-block;
    animation: pulse 1s alternate infinite ease-in-out;
}
.code-spinner:after {
    content: "}";
    display: inline-block;
    animation: pulse 1s 0.8s alternate infinite ease-in-out;
}
@media screen and (max-width: 640px) {
    .code-spinner { display: none; }
}
@keyframes pulse {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}

/* 스피너 - 바 */
.bar-spinner {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: absolute;
    bottom: 40%;
    right: 30%;
    color: #FFF;
    box-sizing: border-box;
    animation: shadowRolling 3s linear reverse infinite;
}
@media screen and (max-width: 640px) {
    .bar-spinner { display: none; }
}
@keyframes shadowRolling {
    0% {
        box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    12% {
        box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    25% {
        box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    36% {
        box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0);
    }
    50% {
        box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
    }
    62% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white, 110px 0 white;
    }
    75% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
    }
    87% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white;
    }
    100% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
    }
}

/* description */
.description {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 데이터 */
.portfolio .data-box:nth-of-type(1) { margin-top: 0; }
.portfolio .data-box:nth-of-type(2) { margin-top: 0; }
.portfolio .data-box:nth-of-type(3) { margin-top: 0; }
.portfolio .data-box:nth-of-type(4) { margin-top: 0; }
@media screen and (max-width: 1280px) {
    .portfolio .data-box:nth-of-type(4) { margin-top: 1.05vw; }
}
@media screen and (max-width: 1024px) {
    .portfolio .data-box:nth-of-type(3) { margin-top: 1.5vw; }
    .portfolio .data-box:nth-of-type(4) { margin-top: 1.5vw; }
}
@media screen and (max-width: 640px) {
    .portfolio .data-box:nth-of-type(2) { margin-top: 2.4vw; }
    .portfolio .data-box:nth-of-type(3) { margin-top: 2.4vw; }
    .portfolio .data-box:nth-of-type(4) { margin-top: 2.4vw; }
}